/jcTRENDNET/bin/x86/Debug/App.xbf
/jcTRENDNET/bin/x86/Debug/AppX/ApplicationInsights.config
/jcTRENDNET/bin/x86/Debug/AppX/AppxManifest.xml
/jcTRENDNET/bin/x86/Debug/AppX/Assets/CouldNotConnect.png
/jcTRENDNET/bin/x86/Debug/AppX/Assets/Logo.scale-100.png
/jcTRENDNET/bin/x86/Debug/AppX/Assets/SmallLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/AppX/Assets/SplashScreen.scale-100.png
/jcTRENDNET/bin/x86/Debug/AppX/Assets/StoreLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/AppX/Assets/WideLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/AppX/ClrCompression.dll
/jcTRENDNET/bin/x86/Debug/AppX/CoreRuntime/jcTRENDNET.exe
/jcTRENDNET/bin/x86/Debug/AppX/Internal.Net.dll
/jcTRENDNET/bin/x86/Debug/AppX/Internal.Uri.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.ApplicationInsights.PersistenceChannel.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.ApplicationInsights.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.CSharp.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.Diagnostics.Tracing.EventSource.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.VisualBasic.dll
/jcTRENDNET/bin/x86/Debug/AppX/Microsoft.Win32.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/Properties/Default.rd.xml
/jcTRENDNET/bin/x86/Debug/AppX/System.AppContext.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Collections.Concurrent.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Collections.NonGeneric.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Collections.Specialized.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Collections.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ComponentModel.Annotations.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ComponentModel.EventBasedAsync.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ComponentModel.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ComponentModel.TypeConverter.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ComponentModel.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Console.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Core.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Data.Common.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Diagnostics.Contracts.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Diagnostics.Debug.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Diagnostics.Tools.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Diagnostics.Tracing.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Dynamic.Runtime.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Globalization.Calendars.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Globalization.Extensions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Globalization.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.Compression.ZipFile.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.Compression.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.FileSystem.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.FileSystem.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.IsolatedStorage.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.UnmanagedMemoryStream.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.IO.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Linq.Expressions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Linq.Parallel.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Linq.Queryable.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Linq.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.Http.Rtc.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.Http.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.NetworkInformation.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.Requests.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Net.WebHeaderCollection.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Numerics.Vectors.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Numerics.Vectors.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ObjectModel.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Private.DataContractSerialization.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Private.Networking.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Private.ServiceModel.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Context.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.DispatchProxy.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Emit.ILGeneration.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Emit.Lightweight.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Emit.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Extensions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.TypeExtensions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Reflection.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Resources.ResourceManager.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Resources.ResourceWriter.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Extensions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Handles.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.InteropServices.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.InteropServices.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Numerics.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Serialization.Json.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Serialization.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.Serialization.Xml.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.WindowsRuntime.UI.Xaml.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Runtime.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Claims.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.DeriveBytes.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.Encoding.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.Encryption.Aes.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.Encryption.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.Hashing.Algorithms.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.Hashing.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Cryptography.RandomNumberGenerator.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Security.Principal.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ServiceModel.Duplex.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ServiceModel.Http.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ServiceModel.NetTcp.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ServiceModel.Primitives.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.ServiceModel.Security.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Text.Encoding.CodePages.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Text.Encoding.Extensions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Text.Encoding.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Text.RegularExpressions.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Threading.Tasks.Parallel.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Threading.Tasks.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Threading.Timer.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Threading.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.ReaderWriter.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XDocument.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XPath.XDocument.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XPath.XmlDocument.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XPath.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XmlDocument.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.Xml.XmlSerializer.dll
/jcTRENDNET/bin/x86/Debug/AppX/System.dll
/jcTRENDNET/bin/x86/Debug/AppX/WinMetadata/Windows.winmd
/jcTRENDNET/bin/x86/Debug/AppX/jcTRENDNET.csproj.AppLocalNetFX.GenerateResource.Cache
/jcTRENDNET/bin/x86/Debug/AppX/jcTRENDNET.exe
/jcTRENDNET/bin/x86/Debug/AppX/jcTRENDNET.xr.xml
/jcTRENDNET/bin/x86/Debug/AppX/resources.pri
/jcTRENDNET/bin/x86/Debug/AppX/vs.appxrecipe
/jcTRENDNET/bin/x86/Debug/ApplicationInsights.config
/jcTRENDNET/bin/x86/Debug/AppxManifest.xml
/jcTRENDNET/bin/x86/Debug/Core/ApplicationInsights.config
/jcTRENDNET/bin/x86/Debug/Core/AppxManifest.xml
/jcTRENDNET/bin/x86/Debug/Core/Assets/CouldNotConnect.png
/jcTRENDNET/bin/x86/Debug/Core/Assets/Logo.scale-100.png
/jcTRENDNET/bin/x86/Debug/Core/Assets/SmallLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/Core/Assets/SplashScreen.scale-100.png
/jcTRENDNET/bin/x86/Debug/Core/Assets/StoreLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/Core/Assets/WideLogo.scale-100.png
/jcTRENDNET/bin/x86/Debug/Core/ClrCompression.dll
/jcTRENDNET/bin/x86/Debug/Core/CoreRuntime/jcTRENDNET.exe
/jcTRENDNET/bin/x86/Debug/Core/Internal.Net.dll
/jcTRENDNET/bin/x86/Debug/Core/Internal.Uri.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.ApplicationInsights.PersistenceChannel.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.ApplicationInsights.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.CSharp.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.Diagnostics.Tracing.EventSource.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.VisualBasic.dll
/jcTRENDNET/bin/x86/Debug/Core/Microsoft.Win32.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/Properties/Default.rd.xml
/jcTRENDNET/bin/x86/Debug/Core/System.AppContext.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Collections.Concurrent.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Collections.NonGeneric.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Collections.Specialized.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Collections.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ComponentModel.Annotations.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ComponentModel.EventBasedAsync.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ComponentModel.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ComponentModel.TypeConverter.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ComponentModel.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Console.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Core.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Data.Common.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Diagnostics.Contracts.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Diagnostics.Debug.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Diagnostics.Tools.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Diagnostics.Tracing.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Dynamic.Runtime.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Globalization.Calendars.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Globalization.Extensions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Globalization.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.Compression.ZipFile.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.Compression.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.FileSystem.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.FileSystem.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.IsolatedStorage.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.UnmanagedMemoryStream.dll
/jcTRENDNET/bin/x86/Debug/Core/System.IO.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Linq.Expressions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Linq.Parallel.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Linq.Queryable.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Linq.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.Http.Rtc.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.Http.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.NetworkInformation.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.Requests.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Net.WebHeaderCollection.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Numerics.Vectors.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Numerics.Vectors.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ObjectModel.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Private.DataContractSerialization.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Private.Networking.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Private.ServiceModel.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Context.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.DispatchProxy.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Emit.ILGeneration.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Emit.Lightweight.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Emit.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Extensions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.TypeExtensions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Reflection.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Resources.ResourceManager.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Resources.ResourceWriter.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Extensions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Handles.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.InteropServices.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.InteropServices.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Numerics.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Serialization.Json.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Serialization.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.Serialization.Xml.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.WindowsRuntime.UI.Xaml.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Runtime.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Claims.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.DeriveBytes.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.Encoding.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.Encryption.Aes.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.Encryption.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.Hashing.Algorithms.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.Hashing.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Cryptography.RandomNumberGenerator.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Security.Principal.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ServiceModel.Duplex.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ServiceModel.Http.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ServiceModel.NetTcp.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ServiceModel.Primitives.dll
/jcTRENDNET/bin/x86/Debug/Core/System.ServiceModel.Security.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Text.Encoding.CodePages.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Text.Encoding.Extensions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Text.Encoding.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Text.RegularExpressions.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Threading.Tasks.Parallel.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Threading.Tasks.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Threading.Timer.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Threading.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.ReaderWriter.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XDocument.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XPath.XDocument.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XPath.XmlDocument.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XPath.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XmlDocument.dll
/jcTRENDNET/bin/x86/Debug/Core/System.Xml.XmlSerializer.dll
/jcTRENDNET/bin/x86/Debug/Core/System.dll
/jcTRENDNET/bin/x86/Debug/Core/WinMetadata/Windows.winmd
/jcTRENDNET/bin/x86/Debug/Core/jcTRENDNET.csproj.AppLocalNetFX.GenerateResource.Cache
/jcTRENDNET/bin/x86/Debug/Core/jcTRENDNET.exe
/jcTRENDNET/bin/x86/Debug/Core/jcTRENDNET.pdb
/jcTRENDNET/bin/x86/Debug/Core/jcTRENDNET.xr.xml
/jcTRENDNET/bin/x86/Debug/Core/resources.pri
/jcTRENDNET/bin/x86/Debug/MainPage.xbf
/jcTRENDNET/bin/x86/Debug/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/jcTRENDNET/bin/x86/Debug/Microsoft.ApplicationInsights.Extensibility.Windows.xml
/jcTRENDNET/bin/x86/Debug/Microsoft.ApplicationInsights.PersistenceChannel.dll
/jcTRENDNET/bin/x86/Debug/Microsoft.ApplicationInsights.dll
/jcTRENDNET/bin/x86/Debug/Microsoft.ApplicationInsights.xml
/jcTRENDNET/bin/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource.dll
/jcTRENDNET/bin/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource.xml
/jcTRENDNET/bin/x86/Debug/Styles/SplitViewStyles.xbf
/jcTRENDNET/bin/x86/Debug/System.Numerics.Vectors.WindowsRuntime.dll
/jcTRENDNET/bin/x86/Debug/System.Numerics.Vectors.WindowsRuntime.xml
/jcTRENDNET/bin/x86/Debug/System.Numerics.Vectors.dll
/jcTRENDNET/bin/x86/Debug/System.Numerics.Vectors.xml
/jcTRENDNET/bin/x86/Debug/Views/AboutPage.xbf
/jcTRENDNET/bin/x86/Debug/Views/LiveCameraPage.xbf
/jcTRENDNET/bin/x86/Debug/Views/MainPage.xbf
/jcTRENDNET/bin/x86/Debug/Views/PrivacyPage.xbf
/jcTRENDNET/bin/x86/Debug/Views/SettingsPage.xbf
/jcTRENDNET/bin/x86/Debug/Views/Shell.xbf
/jcTRENDNET/bin/x86/Debug/jcTRENDNET.build.appxrecipe
/jcTRENDNET/bin/x86/Debug/jcTRENDNET.exe
/jcTRENDNET/bin/x86/Debug/jcTRENDNET.pdb
/jcTRENDNET/bin/x86/Debug/jcTRENDNET.xr.xml
/jcTRENDNET/bin/x86/Debug/resources.pri
/jcTRENDNET/obj/ARM/Debug/App.g.cs
/jcTRENDNET/obj/ARM/Debug/App.g.i.cs
/jcTRENDNET/obj/ARM/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcTRENDNET/obj/ARM/Debug/MainPage.g.cs
/jcTRENDNET/obj/ARM/Debug/MainPage.g.i.cs
/jcTRENDNET/obj/ARM/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcTRENDNET/obj/ARM/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcTRENDNET/obj/ARM/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcTRENDNET/obj/ARM/Debug/XamlSaveStateFile.xml
/jcTRENDNET/obj/ARM/Debug/XamlTypeInfo.g.cs
/jcTRENDNET/obj/x86/Debug/App.g.cs
/jcTRENDNET/obj/x86/Debug/App.g.i.cs
/jcTRENDNET/obj/x86/Debug/App.xaml
/jcTRENDNET/obj/x86/Debug/App.xbf
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Internals.TraceCore.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Microsoft.CSharp.RuntimeBinder.Errors.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Microsoft.CSharp.RuntimeBinder.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Microsoft.VisualBasic.CompilerServices.VBInputBox.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Microsoft.VisualBasic.MyServices.Internal.ProgressDialog.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/Microsoft.VisualBasic.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Core.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.IO.Compression.Messages.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Linq.Expressions.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Linq.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Net.Http.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Reflection.Context.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Runtime.WindowsRuntime.UI.Xaml.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.Runtime.WindowsRuntime.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Merged/System.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Microsoft.CSharp/en-US/Microsoft.CSharp.RuntimeBinder.Errors.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Microsoft.CSharp/en-US/Microsoft.CSharp.RuntimeBinder.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Microsoft.VisualBasic/en-US/Microsoft.VisualBasic.CompilerServices.VBInputBox.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Microsoft.VisualBasic/en-US/Microsoft.VisualBasic.MyServices.Internal.ProgressDialog.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/Microsoft.VisualBasic/en-US/Microsoft.VisualBasic.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.AppContext/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Collections.NonGeneric/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Collections.Specialized/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.ComponentModel.TypeConverter/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Console/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Core/en-US/System.Core.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Core/en-US/System.Linq.Expressions.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Core/en-US/System.Linq.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Data.Common/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Globalization.Extensions/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.IO.Compression.ZipFile/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.IO.Compression/en-US/System.IO.Compression.Messages.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.IO.FileSystem/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.IO.IsolatedStorage/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.IO.UnmanagedMemoryStream/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Net.Http/en-US/System.Net.Http.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Net.WebHeaderCollection/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Private.DataContractSerialization/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Private.Networking/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Private.ServiceModel/en-US/Internals.TraceCore.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Private.ServiceModel/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Reflection.Context/en-US/System.Reflection.Context.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Reflection.DispatchProxy/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Resources.ResourceWriter/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Runtime.WindowsRuntime.UI.Xaml/en-US/System.Runtime.WindowsRuntime.UI.Xaml.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Runtime.WindowsRuntime/en-US/System.Runtime.WindowsRuntime.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.DeriveBytes/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.Encoding/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.Encryption.Aes/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.Encryption/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.Hashing.Algorithms/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.Hashing/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Security.Cryptography.RandomNumberGenerator/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Text.Encoding.CodePages/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Xml.XPath.XDocument/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Xml.XPath.XmlDocument/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Xml.XPath/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System.Xml.XmlDocument/en-US/System.SR.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/System/en-US/System.resw
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/applocalnetfxresources.resfiles
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/empty.layout.resfiles
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/empty.pri.resfiles
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/priconfig.netfx.xml
/jcTRENDNET/obj/x86/Debug/AppLocalNetFXResources/priconfig.netfx.xml.intermediate
/jcTRENDNET/obj/x86/Debug/ApplicationInsights.config
/jcTRENDNET/obj/x86/Debug/Core/ApplicationInsights.config
/jcTRENDNET/obj/x86/Debug/Core/AppxManifest.xml
/jcTRENDNET/obj/x86/Debug/Core/Assets/CouldNotConnect.png
/jcTRENDNET/obj/x86/Debug/Core/Assets/Logo.scale-100.png
/jcTRENDNET/obj/x86/Debug/Core/Assets/SmallLogo.scale-100.png
/jcTRENDNET/obj/x86/Debug/Core/Assets/SplashScreen.scale-100.png
/jcTRENDNET/obj/x86/Debug/Core/Assets/StoreLogo.scale-100.png
/jcTRENDNET/obj/x86/Debug/Core/Assets/WideLogo.scale-100.png
/jcTRENDNET/obj/x86/Debug/Core/Microsoft.ApplicationInsights.Extensibility.Windows.dll
/jcTRENDNET/obj/x86/Debug/Core/Microsoft.ApplicationInsights.PersistenceChannel.dll
/jcTRENDNET/obj/x86/Debug/Core/Microsoft.ApplicationInsights.dll
/jcTRENDNET/obj/x86/Debug/Core/Microsoft.Diagnostics.Tracing.EventSource.dll
/jcTRENDNET/obj/x86/Debug/Core/Properties/Default.rd.xml
/jcTRENDNET/obj/x86/Debug/Core/System.Numerics.Vectors.WindowsRuntime.dll
/jcTRENDNET/obj/x86/Debug/Core/System.Numerics.Vectors.dll
/jcTRENDNET/obj/x86/Debug/Core/WinMetadata/Windows.winmd
/jcTRENDNET/obj/x86/Debug/Core/jcTRENDNET.csproj.AppLocalNetFX.GenerateResource.Cache
/jcTRENDNET/obj/x86/Debug/Core/jcTRENDNET.exe
/jcTRENDNET/obj/x86/Debug/Core/jcTRENDNET.pdb
/jcTRENDNET/obj/x86/Debug/Core/jcTRENDNET.xr.xml
/jcTRENDNET/obj/x86/Debug/Core/resources.pri
/jcTRENDNET/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/jcTRENDNET/obj/x86/Debug/MainPage.g.cs
/jcTRENDNET/obj/x86/Debug/MainPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/MainPage.xaml
/jcTRENDNET/obj/x86/Debug/MainPage.xbf
/jcTRENDNET/obj/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource.pri
/jcTRENDNET/obj/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource/en-US/Microsoft.Diagnostics.Tracing.Messages.resw
/jcTRENDNET/obj/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource/qualifiers.txt
/jcTRENDNET/obj/x86/Debug/Microsoft.Diagnostics.Tracing.EventSource/qualifiers.txt.intermediate
/jcTRENDNET/obj/x86/Debug/MultipleQualifiersPerDimensionFound.txt
/jcTRENDNET/obj/x86/Debug/ProjectArchitectures.txt
/jcTRENDNET/obj/x86/Debug/Styles/.g.cs
/jcTRENDNET/obj/x86/Debug/Styles/SplitViewStyles.g.cs
/jcTRENDNET/obj/x86/Debug/Styles/SplitViewStyles.g.i.cs
/jcTRENDNET/obj/x86/Debug/Styles/SplitViewStyles.xaml
/jcTRENDNET/obj/x86/Debug/Styles/SplitViewStyles.xbf
/jcTRENDNET/obj/x86/Debug/System.Numerics.Vectors.pri
/jcTRENDNET/obj/x86/Debug/System.Numerics.Vectors/en-US/System.Strings.resw
/jcTRENDNET/obj/x86/Debug/System.Numerics.Vectors/qualifiers.txt
/jcTRENDNET/obj/x86/Debug/System.Numerics.Vectors/qualifiers.txt.intermediate
/jcTRENDNET/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/jcTRENDNET/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/jcTRENDNET/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/jcTRENDNET/obj/x86/Debug/Views/.g.cs
/jcTRENDNET/obj/x86/Debug/Views/AboutPage.g.cs
/jcTRENDNET/obj/x86/Debug/Views/AboutPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/AboutPage.xbf
/jcTRENDNET/obj/x86/Debug/Views/LiveCameraPage.g.cs
/jcTRENDNET/obj/x86/Debug/Views/LiveCameraPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/LiveCameraPage.xaml
/jcTRENDNET/obj/x86/Debug/Views/LiveCameraPage.xbf
/jcTRENDNET/obj/x86/Debug/Views/MainPage.g.cs
/jcTRENDNET/obj/x86/Debug/Views/MainPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/MainPage.xbf
/jcTRENDNET/obj/x86/Debug/Views/PrivacyPage.g.cs
/jcTRENDNET/obj/x86/Debug/Views/PrivacyPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/PrivacyPage.xaml
/jcTRENDNET/obj/x86/Debug/Views/PrivacyPage.xbf
/jcTRENDNET/obj/x86/Debug/Views/SettingsPage.g.cs
/jcTRENDNET/obj/x86/Debug/Views/SettingsPage.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/SettingsPage.xbf
/jcTRENDNET/obj/x86/Debug/Views/Shell.g.cs
/jcTRENDNET/obj/x86/Debug/Views/Shell.g.i.cs
/jcTRENDNET/obj/x86/Debug/Views/Shell.xbf
/jcTRENDNET/obj/x86/Debug/XamlSaveStateFile.xml
/jcTRENDNET/obj/x86/Debug/XamlTypeInfo.g.cs
/jcTRENDNET/obj/x86/Debug/XamlTypeInfo.g.cs.backup
/jcTRENDNET/obj/x86/Debug/embed.resfiles
/jcTRENDNET/obj/x86/Debug/embed.resfiles.intermediate
/jcTRENDNET/obj/x86/Debug/intermediatexaml/jcTRENDNET.exe
/jcTRENDNET/obj/x86/Debug/intermediatexaml/jcTRENDNET.pdb
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.csproj.FileListAbsolute.txt
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.csproj.GenerateResource.Cache
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.csprojResolveAssemblyReference.cache
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.exe
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.pdb
/jcTRENDNET/obj/x86/Debug/jcTRENDNET.xr.xml
/jcTRENDNET/obj/x86/Debug/layout.resfiles
/jcTRENDNET/obj/x86/Debug/layout.resfiles.intermediate
/jcTRENDNET/obj/x86/Debug/pri.resfiles
/jcTRENDNET/obj/x86/Debug/pri.resfiles.intermediate
/jcTRENDNET/obj/x86/Debug/priconfig.xml
/jcTRENDNET/obj/x86/Debug/priconfig.xml.intermediate
/jcTRENDNET/obj/x86/Debug/qualifiers.txt
/jcTRENDNET/obj/x86/Debug/qualifiers.txt.intermediate
/jcTRENDNET/obj/x86/Debug/resources.resfiles
/jcTRENDNET/obj/x86/Debug/resources.resfiles.intermediate
